body{

background-color: aliceblue;

}


.logo{

    margin-right: 10px;

}


.card{

    margin-top: 20px;
    margin-left: 20px;

}


.recipes{

    width: 100%;
    overflow: auto;

}


.card{

width: 30%;
float: left;

}


